body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper {
    width: 85%;
    margin: auto;
}
/* Header section */
.header-container {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 146px;
    height: 51px;
    margin-top: 41.5px;
}
.navigation {
    display: flex;
    align-items: center;
    margin-top: 48.5px;
}
li {
    padding-left: 46px;
    list-style: none;
}
li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7D7D7D;
    line-height: 27px;
    text-decoration: none;
}
.applyBtn {
    border: none;
    background-color: #717CFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 3px 6px #717CFF57;
    padding: 6px 12px;
}
/* responsive side navbar */
.hamburger {
    width: 30px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}
.sideNav {
    padding-top: 34px;
    height: 100%;
    background-color: #F1F2FC;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 42px;
    z-index: 2;
    border-radius: 9px 0 0 9px;
    display: none;
}
.sideNav a {
    padding: 8px 8px 22px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #37474F;
    text-decoration: none;
    line-height: 1.6;
}
.navBtn {
    width: 82%;
    height: 60px;
    margin-top: 75%;
    margin-bottom: 48px;
}
.sideNav .closeBtn {
    margin-left: 80%;
    margin-right: 26.42px;
    position: absolute;
    top: 46px;
    font-size: 15px;
    padding-right: 20px;
}
/* body section */
.container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.content {
    display: flex;
    flex-direction: column;
    padding-right: 47px;
}
.big-heading {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 65px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 180px;
    margin-bottom: 25px;
}
.content-long-paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: #7D7D7D;
}
.content-short-paragraph {
    display: none;
}
.apply-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #717CFF;
    color: white;
    border-style: none;
    padding: 8px 12px;
    text-align: center;
    margin-top: 48.5px;
}
.arrow-button {
    width: 30px;
    height: 10px;
    padding-left: 12px;
}
.girl-img-web {
    width: 145%;
    margin-top: 25px;
    object-fit: cover;
}
.girl-img-mobile{
    display: none;
}
/* university section */
.university-container {
    display: flex;
    background-color: #F1F2FC;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 3% 18%;
    position: relative;
    margin-top: -62px;
    margin-left: -172px;
    margin-right: -130px;
}
.university-img {
    width: 100%;
}
.university-box {
    margin: 0px 52px;
}

/* our services section */
@media screen and (max-width:600px) {
    html{
        overflow-x: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    .hamburger {
        display: flex;
    }
    .navlinks {
        display: none;
    }
    .sideNav {
        display: block !important;
    }
    .wrapper {
        width: 85%;
        margin: auto;
    }
    .company-logo {
        width: 112px;
        height: 45px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
    }
    .content{
        display: flex;
        justify-content: space-between;
        width: 160%;
        padding-right: 0; 
        padding-top: 10px;
    }
    .big-heading{
        font-family: 'Poppins', sans-serif;
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .content-long-paragraph {
       display: none;
    }
    .content-short-paragraph {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: #7D7D7D;
    }
    .apply-btn {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 10px;
        background-color: #717CFF;
        color: white;
        border-style: none;
        padding: 5px 30px;
        text-align: center;
        margin-top: 20px;
    }
    .arrow-button{
        display: none;
    }
    .girl-img-web{
        display: none;
    }
    .girl-img-mobile {
        display: block;
        width: 250%;
        margin-top: 43px;
        object-fit: cover;
    }
    /* university section */
    .university-container {
        display: flex;
        background-color: #F1F2FC;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        position: relative;
        margin-top: 30px;
        margin-left: -28px;
        margin-right: -35px;
    }
    .university-img {
        width: 100%;
        height: 100%;
    }
    .university-box {
        margin: 0;
        padding:8px;
    }
}